@model IEnumerable<Gira.Data.Entities.Issue>

<table>
    <tr>
        <th>
            Subject
        </th>
        <th>
            Issue priority
        </th>
        <th>
            Creator username
        </th>
        <th>
            Issue status
        </th>
        <th>
            Responsible username
        </th>
        <td>
            Issue description
        </td>
    </tr>

    @foreach (var issue in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => issue.Subject)
            </td>
            <td>
                @if (issue.PriorityCode.HasValue)
                {
                    @Html.DisplayFor(modelItem => issue.PriorityCode)
                }              
            </td>
            <td>
                @Html.DisplayFor(modelItem => issue.Creator.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => issue.IssueStatusCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => issue.ResponsibleUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => issue.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Issue", new { id = issue.Id }, null)
            </td>
        </tr>
    }
</table>
