@model IEnumerable<Gira.Data.Entities.ApplicationUser>

@{

    Layout = null;

}

<div>
    <table class="table">
        <tr>
            <th>
                Surname
            </th>
            <th>
                Given Name
            </th>
            <th>
                Email
            </th>
            <th>
                User Name
            </th>
            <th>
                Manager
            </th>
            <th>
                Action
            </th>
        </tr>

        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.GivenName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Manager.UserName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "User", new { id = user.Id }, null) |
                    @Html.ActionLink("Details", "Details", "User", new { id = user.Id }, null) |
                    @Html.ActionLink("Delete", "Delete", "User", new { id = user.Id }, null)
                </td>
            </tr>
        }
    </table>
</div>

