@using Gira.Data.Enums
@using Gira.Models
@model Gira.Models.Issues.IssueEditViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<dl class="dl-horizontal">
    <dt>
        Creator
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Issue.Creator.UserName)
    </dd>
    <dt>
        Manager
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Issue.Manager.UserName)
    </dd>
    <dt>
        Responsible user
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Issue.ResponsibleUser.UserName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Issue.Subject)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Issue.Subject)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Issue.Description)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Issue.Description)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Issue.PriorityCode)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Issue.PriorityCode)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Issue.IssueStatusCode)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Issue.IssueStatusCode)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Issue.Occurrence)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Issue.Occurrence)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Issue.Registered)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Issue.Registered)
    </dd>
</dl>

@foreach (var transition in Model.Transitions)
{
    @Html.ActionLink(transition.ToString(), "Transition", "Issue", new { id = Model.Issue.Id, transition }, null)
}