@model Gira.Models.User.UserDetailViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ApplicationUser</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.GivenName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.GivenName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.MobilePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.MobilePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.EmailConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.EmailConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.PhoneNumberConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.PhoneNumberConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.LockoutEndDateUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.LockoutEndDateUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.LockoutEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.LockoutEnabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.AccessFailedCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.AccessFailedCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Manager)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Manager.UserName)
        </dd>
    </dl>
</div>

@if (Model.Issues != null && Model.Issues.Any())
{
    @Html.Partial("_IssuesListPartial", Model.Issues)
}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.User.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
