@model Gira.Models.User.UserDetailViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>User @Model.User.UserName - @Html.ActionLink("Back to List", "Index")</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.GivenName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.GivenName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Manager)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Manager.UserName)
        </dd>
    </dl>
</div>

@if (Model.Issues != null && Model.Issues.Any())
{
    @Html.Partial("_IssuesListPartial", Model.Issues)
}

<h4>
    @Html.ActionLink("Edit", "Edit", new { id = Model.User.Id })
</h4>
